.wildcard {
    width: 300px;
    height: 164px;
    background-color: blue;
    display: flex;
    align-items: center;
    border: solid 10px white;
    justify-content: center;
    background: radial-gradient(circle, rgba(50, 141, 204, 1) 0%, rgba(2, 41, 119, 1) 100%);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.wildcard--selected {
    background: radial-gradient(circle, rgba(231, 206, 47, 1) 0%, rgba(153, 96, 18, 1) 100%) !important;
}

.wildcard__icon {
    width: 100px;
    filter: invert(100%);
}

.red-cross {
    width: 250px;
    height: 20px;
    transform: rotateZ(35deg);
    position: absolute;
    background-color: #E94232;
}

.red-cross--inverted {
    transform: rotateZ(-35deg);
}
